# Android
*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# App build
/app/build
/app/release

# Logs
*.log
logcat.txt

# Keystore
*.jks
*.keystore

# Private keys
privatekey.txt

# Misc
*.apk
*.aab
tmpclaude-*
.claude/
*.png
